<!DOCTYPE>
<html>
<head>
    <title>Gaming</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <link rel="stylesheet" href="{{ asset('assets/main.css') }}"/>
</head>
<body>
<ul class="notification" id="notification"></ul>
<nav class="main-navigation">
    <a href="{{ path('lobby') }}">Lobby</a>
    |
    <a href="{{ path('profile') }}">Profile</a>
</nav>
{% block content %}{% endblock %}
<script type="text/javascript" src="{{ asset('assets/main.js') }}"></script>
<script type="text/javascript">
    {# Propagate current user id to browser #}
    app.user.id = '{{ app.session.get('user') }}';
</script>
{% block javascript %}{% endblock %}
</body>
</html>
