{% extends '@web-interface/base.html.twig' %}

{% block content %}
    <div class="left">
        <div class="box">
            <p>
                Anonymous - Anonymous
            </p>
        </div>
    </div>
    <section class="middle">
        <div class="box" id="current-game">
            <table class="game">
                <tbody>
                {% for y in range(1, game.height) %}
                    <tr>
                        {% for x in range(1, game.width) %}
                            <td
                                    class="game__field"
                                    data-column="{{ x }}"
                                    data-point="{{ x }} {{ y }}"></td>
                        {% endfor %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </section>
    <div class="right">
        <div class="box">
            <p>
                <button class="button" id="abort-game" data-game-id="{{ game.gameId }}">
                    x Abort game
                </button>
            </p>
        </div>
        <div class="box">
            <p>
                <button class="button" id="previous-move">
                    &lt;
                </button>
                <button class="button" id="next-move">
                    &gt;
                </button>
                <button class="button" id="follow-moves">
                    Follow moves
                </button>
            </p>
        </div>
        <div class="chat" id="chat">
            <ul class="chat__messages" data-message-holder>

            </ul>
            <textarea type="text"
                      name="message"
                      data-input
                      class="chat__input"></textarea>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    <script type="text/javascript">
        (function () {
            new Gambling.ConnectFour.Game(
                app.eventPublisher,
                app.gameService,
                document.getElementById('current-game'),
                document.getElementById('previous-move'),
                document.getElementById('next-move'),
                document.getElementById('follow-moves'),
                '{{ game.gameId }}',
                {{ game.moves|json_encode|raw }}
            );
            new Gambling.ConnectFour.AbortGameButton(
                app.gameService,
                document.getElementById('abort-game')
            );
            new Gambling.Chat.Widget(
                app.eventPublisher,
                app.chatService,
                document.getElementById('chat'),
                '{{ game.chatId }}'
            );
            startEventSource(top.location.protocol + '//' + top.location.host + ':8080/sub?id=game-{{ game.gameId }}');
        })();
    </script>
{% endblock %}
