{% extends '@web-interface/base.html.twig' %}

{% block content %}
    <div class="left">
        <div class="box">
            <p>
                Anonymous - Anonymous
            </p>
        </div>
    </div>
    <section class="middle">
        <div class="box" id="current-game">
            <table class="game">
                <tbody>
                <tr>
                    {% for field in game.fields %}
                    {% set colorClass = '' %}
                    {% if field.color == 1 %}
                        {% set colorClass = 'game__field--red' %}
                    {% elseif field.color == 2 %}
                        {% set colorClass = 'game__field--yellow' %}
                    {% endif %}
                    <td
                            class="game__field {{ colorClass }}"
                            data-column="{{ field.x }}"
                            data-point="{{ field.x }} {{ field.y }}"></td>
                    {% if loop.index % game.width == 0 %}
                </tr>
                <tr>
                    {% endif %}
                    {% endfor %}
                </tr>
                </tbody>
            </table>
        </div>
    </section>
    <div class="right">
        <div class="box">
            <p>
                <button class="button" id="abort-game" data-game-id="{{ game.gameId }}">
                    x Abort game
                </button>
            </p>
        </div>
        <div class="chat" id="chat">
            <ul class="chat__messages" data-message-holder>

            </ul>
            <textarea type="text"
                      name="message"
                      data-input
                      class="chat__input"></textarea>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    <script type="text/javascript">
        (function () {
            new Gambling.ConnectFour.Game(
                app.eventPublisher,
                app.gameService,
                document.getElementById('current-game'),
                '{{ game.gameId }}'
            );
            new Gambling.ConnectFour.AbortGameButton(
                app.gameService,
                document.getElementById('abort-game')
            );
            new Gambling.Chat.Widget(
                app.eventPublisher,
                app.chatService,
                document.getElementById('chat'),
                '{{ game.chatId }}'
            );
            startEventSource(top.location.protocol + '//' + top.location.host + ':8080/sub?id=game-{{ game.gameId }}');
        })();
    </script>
{% endblock %}
