{% extends 'layout/condensed.html.twig' %}

{% set page_title = 'Anonymous vs. Anonymous' %}

{% block content %}
    <div class="row row-gap-2">
        <div class="col-md-7 col-xl-9">
            <div class="row row-gap-2">
                <div class="col-xl-4">
                    <div class="card">
                        <div class="card-body">
                            <p class="mb-1">
                                <connect-four-player-status player-id="{{ app.user ? app.user.userIdentifier }}"
                                                            color="red"
                                                            color-player-id="{{ game.redPlayerId }}"
                                                            current-player-id="{{ game.currentPlayerId }}"
                                                            winning-player-id="{{ game.winningPlayerId }}"
                                                            losing-player-id="{{ game.losingPlayerId }}"
                                                            resigning-player-id="{{ game.resigningPlayerId }}"
                                                            aborting-player-id="{{ game.abortingPlayerId }}"
                                                            text-you="You"
                                                            text-won="Won"
                                                            text-lost="Lost"
                                                            text-resigned="Resigned"
                                                            text-aborted="Aborted">
                                    <span class="status-dot status-red"></span>
                                    <span data-username>Anonymous</span>
                                </connect-four-player-status>
                            </p>
                            <p>
                                <connect-four-player-status player-id="{{ app.user ? app.user.userIdentifier }}"
                                                            color="yellow"
                                                            color-player-id="{{ game.yellowPlayerId }}"
                                                            current-player-id="{{ game.currentPlayerId }}"
                                                            winning-player-id="{{ game.winningPlayerId }}"
                                                            losing-player-id="{{ game.losingPlayerId }}"
                                                            resigning-player-id="{{ game.resigningPlayerId }}"
                                                            aborting-player-id="{{ game.abortingPlayerId }}"
                                                            text-you="You"
                                                            text-won="Won"
                                                            text-lost="Lost"
                                                            text-resigned="Resigned"
                                                            text-aborted="Aborted">
                                    <span class="status-dot status-yellow"></span>
                                    <span data-username>Anonymous</span>
                                </connect-four-player-status>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-8">
                    <connect-four-game game="{{ game|json_encode|e('html_attr') }}"
                                       previous-move-selector="#previous-move"
                                       next-move-selector="#next-move"
                                       follow-moves-selector="#follow-moves">
                    </connect-four-game>
                </div>
            </div>
        </div>
        <div class="col-md-5 col-xl-3">
            <div class="card mb-2">
                <div class="card-body">
                    <div class="row row-gap-2">
                        <div class="col-3">
                            <button class="btn btn-icon w-100" id="previous-move">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                     fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                     stroke-linejoin="round" class="icon">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                    <path d="M15 6l-6 6l6 6"/>
                                </svg>
                            </button>
                        </div>
                        <div class="col-3">
                            <button class="btn btn-icon w-100" id="next-move">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                     fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                     stroke-linejoin="round" class="icon">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                    <path d="M9 6l6 6l-6 6"/>
                                </svg>
                            </button>
                        </div>
                        <div class="col-6">
                            <button class="btn btn-icon w-100" id="follow-moves">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                     fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                     stroke-linejoin="round" class="icon">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                    <path d="M7 4v16l13 -8z"/>
                                </svg>
                            </button>
                        </div>
                        <div class="col-6">
                            <connect-four-abort-button game-id="{{ game.id }}">
                                <button id="abort-game" class="btn btn-outline-danger w-100">
                                    Abort
                                </button>
                            </connect-four-abort-button>
                        </div>
                        <div class="col-6">
                            <connect-four-resign-button game-id="{{ game.id }}">
                                <button class="btn w-100">
                                    Resign
                                </button>
                            </connect-four-resign-button>
                        </div>
                    </div>
                </div>
            </div>
            <chat-widget id="chat"
                         chat-id="{{ game.chatId|e('html_attr') }}"
                         author-id="{{ app.user ? app.user.userIdentifier|e('html_attr') }}"
                         seconds-before-retry="3">
            </chat-widget>
        </div>
    </div>
    <event-source subscriptions="connect-four-{{ game.id }}{{ game.chatId ? ',chat-' ~ game.chatId }}"
                  {% if app.environment == 'dev' %}verbose{% endif %}>
    </event-source>
{% endblock %}
