{% extends '@web-interface/base.html.twig' %}

{% block content %}
    <div class="left">
        <div class="box">
            <p>
                Anonymous - Anonymous
            </p>
        </div>
    </div>
    <section class="middle">
        <connect-four-game game="{{ game|json_encode|e('html_attr') }}"
                           previous-move-selector="#previous-move"
                           next-move-selector="#next-move"
                           follow-moves-selector="#follow-moves">
        </connect-four-game>
    </section>
    <div class="right">
        <div class="box">
            <p>
                <abort-game-button game-id="{{ game.gameId }}">
                    x Abort game
                </abort-game-button>
                <resign-game-button game-id="{{ game.gameId }}">
                    x Resign game
                </resign-game-button>
            </p>
        </div>
        <div class="box">
            <p>
                <button class="button" id="previous-move">
                    &lt;
                </button>
                <button class="button" id="next-move">
                    &gt;
                </button>
                <button class="button" id="follow-moves">
                    Follow moves
                </button>
            </p>
        </div>
        <chat-widget id="chat"
                     chat-id="{{ game.chatId }}"
                     seconds-before-retry="3">
        </chat-widget>
    </div>
    <event-source subscriptions="connect-four-{{ game.gameId }}{% if game.chatId %},chat-{{ game.chatId }}{% endif %}"
                  {% if app.environment == 'dev' %}verbose{% endif %}>
    </event-source>
{% endblock %}
