{% extends 'layout/condensed.html.twig' %}

{% set page_title = 'Anonymous vs. Anonymous' %}

{% block content %}
    <div class="row row-gap-2">
        <div class="col-md-7 col-xl-9">
            <div class="row row-gap-2">
                <div class="col-xl-4">
                    <div class="card">
                        <div class="card-body">
                            <connect-four-players game-id="{{ game.id }}"
                                                  player-id="{{ app.user ? app.user.userIdentifier }}"
                                                  red-player-id="{{ game.redPlayerId }}"
                                                  yellow-player-id="{{ game.yellowPlayerId }}"
                                                  current-player-id="{{ game.currentPlayerId }}"
                                                  winner-id="{{ game.winnerId }}"
                                                  loser-id="{{ game.loserId }}"
                                                  resigned-by="{{ game.resignedBy }}"
                                                  aborted-by="{{ game.abortedBy }}"
                                                  game-state="{{ game.state }}"
                                                  text-you="You"
                                                  text-won="Won"
                                                  text-lost="Lost"
                                                  text-draw="Draw"
                                                  text-resigned="Resigned"
                                                  text-aborted="Aborted">
                                <p class="mb-1" data-red-player>
                                    <span class="status-dot status-red"></span>
                                    <span data-username>Anonymous</span>
                                </p>
                                <p class="mb-0" data-yellow-player>
                                    <span class="status-dot status-yellow"></span>
                                    <span data-username>Anonymous</span>
                                </p>
                            </connect-four-players>
                        </div>
                    </div>
                </div>
                <div class="col-xl-8">
                    <connect-four-game game="{{ game|json_encode|e('html_attr') }}"
                                       player-id="{{ app.user ? app.user.userIdentifier|e('html_attr') }}"
                                       previous-move-selector="#previous-move"
                                       next-move-selector="#next-move"
                                       follow-moves-selector="#follow-moves">
                        <div style="aspect-ratio: {{ game.width }}/{{ game.height }};"></div>
                    </connect-four-game>
                </div>
            </div>
        </div>
        <div class="col-md-5 col-xl-3">
            <div class="card mb-2">
                <div class="card-body">
                    <div class="row row-gap-2">
                        <div class="col-3">
                            <button class="btn btn-icon w-100" id="previous-move">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                     fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                     stroke-linejoin="round" class="icon">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                    <path d="M15 6l-6 6l6 6"/>
                                </svg>
                            </button>
                        </div>
                        <div class="col-3">
                            <button class="btn btn-icon w-100" id="next-move">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                     fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                     stroke-linejoin="round" class="icon">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                    <path d="M9 6l6 6l-6 6"/>
                                </svg>
                            </button>
                        </div>
                        <div class="col-6">
                            <button class="btn btn-icon w-100" id="follow-moves">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                     fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                     stroke-linejoin="round" class="icon">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                    <path d="M7 4v16l13 -8z"/>
                                </svg>
                            </button>
                        </div>
                        {% if not game.finished %}
                            <connect-four-abort-button game-id="{{ game.id }}"
                                                       player-id="{{ app.user ? app.user.userIdentifier }}"
                                                       players="{{ game.players|json_encode }}"
                                                       moves="{{ game.moves[:2]|json_encode }}">
                                <div class="col-12">
                                    <button id="abort-game" class="btn btn-outline-danger w-100">
                                        Abort
                                    </button>
                                </div>
                            </connect-four-abort-button>
                            <connect-four-resign-button game-id="{{ game.id }}"
                                                        player-id="{{ app.user ? app.user.userIdentifier }}"
                                                        players="{{ game.players|json_encode }}"
                                                        moves="{{ game.moves[:2]|json_encode }}">
                                <div class="col-12">
                                    <button class="btn w-100">
                                        Resign
                                    </button>
                                </div>
                            </connect-four-resign-button>
                        {% endif %}
                    </div>
                </div>
            </div>
            <chat-widget id="chat"
                         chat-id="{{ game.chatId|e('html_attr') }}"
                         game-channel="connect-four-{{ game.gameId|e('html_attr') }}"
                         author-id="{{ app.user ? app.user.userIdentifier|e('html_attr') }}"
                         seconds-before-retry="3">
            </chat-widget>
        </div>
    </div>
{% endblock %}
