{% extends 'layout/condensed.html.twig' %}

{% if app.user ? app.user.userIdentifier == game.openedBy %}
    {% set page_title = 'Waiting for opponent...' %}
{% else %}
    {% set page_title = 'Join the game' %}
{% endif %}

{% block content %}
    <div class="container-narrow">
        <div class="card">
            <div class="card-body text-center">
                <div class="container-tight">
                    <h1>
                        {% if app.user ? app.user.userIdentifier == game.openedBy %}
                            Waiting for opponent
                        {% else %}
                            Join the game
                        {% endif %}
                    </h1>
                    <p>
                        {% if app.user ? app.user.userIdentifier == game.openedBy %}
                            Once another player joins, you'll be automatically redirected.
                        {% else %}
                            Player <strong>Anonymous</strong> is waiting for an opponent.
                        {% endif %}
                    </p>
                    <p>
                        Size: <strong>{{ game.width }} x {{ game.height }}</strong>,
                        Variant: <strong>Standard</strong>,
                        Color:
                        <strong>{{ game.preferredStone|replace({1: 'Red', 2: 'Yellow'})|default('Random') }}</strong>
                    </p>
                    {% if app.user ? app.user.userIdentifier == game.openedBy %}
                        <div class="gp-cf-token-loading w-75 mx-auto">
                            {% for i in 0..6 %}
                                <span class="gp-cf-token{{ i is odd ? ' gp-cf-token--yellow' }}"
                                      style="--token-index: {{ i }}; --border-size: 3px">
                                </span>
                            {% endfor %}
                        </div>
                        <connect-four-redirect game-id="{{ game.gameId|e('html_attr') }}"></connect-four-redirect>
                        <form action="{{ path('connect_four_abort_challenge', {id: game.gameId}) }}"
                              method="post"
                              data-abort-form>
                            <button type="submit" class="btn btn-outline-danger">Abort game</button>
                        </form>
                    {% else %}
                        <form action="{{ path('connect_four_accept_challenge', {id: game.gameId}) }}" method="post">
                            <button type="submit" class="btn btn-outline-success">Join now</button>
                        </form>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
