{% extends 'layout/base.html.twig' %}

{% block body %}
    <div class="page page-center" data-page-content>
        <div class="container container-tight">
            <p class="text-center fw-medium my-5">
                <a href="{{ path('lobby') }}" class="link-secondary navbar-brand-autodark text-decoration-none">
                    <img src="{{ asset('img/logo.png') }}"
                         alt="Gaming Platform"
                         width="32"
                         height="32"
                         class="navbar-brand-image pe-2"/>
                    Gaming Platform
                </a>
            </p>
            {% for label, messages in app.flashes %}
                {% for message in messages %}
                    <div class="alert alert-important alert-{{ label }} mb-4"
                         style="--tblr-alert-bg: var(--tblr-{{ label }}-lt);">
                        <div class="alert-icon">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" stroke-width="2"
                                 stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"
                                 class="icon">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                <path d="M12 9v4"></path>
                                <path d="M10.363 3.591l-8.106 13.534a1.914 1.914 0 0 0 1.636 2.871h16.214a1.914 1.914 0 0 0 1.636 -2.87l-8.106 -13.536a1.914 1.914 0 0 0 -3.274 0z"></path>
                                <path d="M12 16h.01"></path>
                            </svg>
                        </div>
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}
            {% if lastAuthenticationError is defined and lastAuthenticationError %}
                <div class="alert alert-important alert-danger mb-4" style="--tblr-alert-bg: var(--tblr-danger-lt);">
                    <div class="alert-icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" stroke-width="2"
                             stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"
                             class="icon">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                            <path d="M12 9v4"></path>
                            <path d="M10.363 3.591l-8.106 13.534a1.914 1.914 0 0 0 1.636 2.871h16.214a1.914 1.914 0 0 0 1.636 -2.87l-8.106 -13.536a1.914 1.914 0 0 0 -3.274 0z"></path>
                            <path d="M12 16h.01"></path>
                        </svg>
                    </div>
                    Oops!
                    {{ lastAuthenticationError.messageKey|trans(lastAuthenticationError.messageData, 'security') }}
                </div>
            {% endif %}
            {% block content %}{% endblock %}
            <ul class="text-center list-inline list-inline-dots my-5">
                {% include 'layout/partial/footer-links.html.twig' %}
            </ul>
        </div>
    </div>
{% endblock %}
