{% extends 'layout/base.html.twig' %}

{% block body %}
    <div class="page" data-page-content>
        <div class="sticky-top">
            <header class="navbar navbar-expand d-print-none">
                <div class="container-xxl">
                    <div class="navbar-brand navbar-brand-autodark d-none-navbar-horizontal pe-0 pe-lg-1">
                        <a href="{{ path('home') }}">
                            <img src="{{ asset('img/logo.png') }}"
                                 alt="Gaming Platform"
                                 width="32"
                                 height="32"
                                 class="navbar-brand-image"/>
                        </a>
                    </div>
                    <div class="navbar-nav flex-row flex-grow-1">
                        <div class="nav-item dropdown mx-2">
                            <input type="checkbox" class="gp-dropdown-toggle" id="game-picker">
                            <label for="game-picker" class="btn btn-outline-secondary dropdown-toggle">
                                {% if app.request.attributes.get('_route') starts with 'connect_four_' %}
                                    Connect Four
                                {% else %}
                                    Pick a Game
                                {% endif %}
                            </label>
                            <div class="dropdown-menu dropdown-menu-start dropdown-menu-arrow" data-bs-popper>
                                <a href="{{ path('connect_four_lobby') }}" class="dropdown-item">Connect Four</a>
                            </div>
                        </div>
                    </div>
                    <div class="navbar-nav flex-row">
                        <volume-control class="nav-item dropdown"></volume-control>
                        <div class="nav-item">
                            <event-source-status title-open="Ready to Play!"
                                                 title-closed="Connecting..."></event-source-status>
                        </div>
                        <div class="nav-item dropdown">
                            <input type="checkbox" class="gp-dropdown-toggle" id="menu">
                            {% if app.user ? app.user.isSignedUp %}
                                <label for="menu" class="nav-link d-flex lh-1 p-0 px-2 cursor-pointer">
                                    <span class="avatar avatar-sm">{{ app.user.username|slice(0, 2) }}</span>
                                    <div class="d-none d-sm-block ps-2">
                                        <div class="small text-secondary">Hi!</div>
                                        <div class="mt-1">{{ app.user.username }}</div>
                                    </div>
                                </label>
                                <div class="dropdown-menu dropdown-menu-end dropdown-menu-arrow" data-bs-popper>
                                    <a href="{{ path('_logout_main') }}" class="dropdown-item">Logout</a>
                                </div>
                            {% else %}
                                <label for="menu" class="nav-link d-flex lh-1 p-0 px-2 cursor-pointer">
                                    <span class="avatar avatar-sm">
                                        <svg xmlns="http://www.w3.org/2000/svg" class="icon avatar-icon" width="24"
                                             height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor"
                                             fill="none" stroke-linecap="round" stroke-linejoin="round">
                                            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                            <circle cx="12" cy="7" r="4"></circle>
                                            <path d="M6 21v-2a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v2"></path>
                                        </svg>
                                    </span>
                                    <div class="d-none d-sm-block ps-2">
                                        <div class="small text-secondary">Hi!</div>
                                        <div class="mt-1">Login</div>
                                    </div>
                                </label>
                                <div class="dropdown-menu dropdown-menu-end dropdown-menu-arrow" data-bs-popper>
                                    <a href="{{ path('identity_signup') }}" class="dropdown-item">Sign up</a>
                                    <a href="{{ path('identity_login') }}" class="dropdown-item">Sign in</a>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </header>
            {% block context_nav %}{% endblock %}
        </div>
        <div class="page-wrapper">
            <div class="page-body">
                <div class="container-xxl">
                    {% block content %}{% endblock %}
                </div>
            </div>
        </div>
        <footer class="footer footer-transparent d-print-none">
            <div class="container-xxl">
                <div class="row text-center align-items-center flex-row-reverse">
                    <div class="col-lg-auto ms-lg-auto">
                        <ul class="list-inline list-inline-dots mb-0">
                            {% include 'layout/partial/footer-links.html.twig' %}
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
    </div>
{% endblock %}
